.hero2-section {
  position: relative;
  margin-top: 70px;
  background-color: hsl(337, 79%, 54%);
  height: 520px;
}
.hero2-section h1 {
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
}
.hero2 {
  display: grid;
  grid-template-areas: "title image";
}
.hero-title {
  grid-area: title;
  padding: 0 0 0 100px;
  align-self: center;
}
.hero-image {
  grid-area: image;
  justify-self: center;
  margin-right: 100px;
}
.hero-title h1 {
  font-family: "Poppins";
  color: #e9e9e9;
}
.hero-title p {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 30px;
  color: #e9e9e9;
}
.demo-button {
  border: 2px solid #e9e9e9;
  background: transparent;
  border-radius: 32px;
  padding: 6px 30px;
  color: #e9e9e9;
}
.leftbg {
  position: absolute;
  top: 70px;
  left: 0px;
}
.left1 {
  position: absolute;
  top: 50px;
  left: 195px;
}
.left2 {
  position: absolute;
  top: 290px;
}
.suitcase {
  position: absolute;
  left: 20px;
  top: 406px;
  opacity: 0.5;
}
.middle {
  position: absolute;
  left: 420px;
  top: 402px;
}
.right1 {
  position: absolute;
  right: 0px;
  top: 50px;
}
.right2 {
  position: absolute;
  right: 0px;
  bottom: 20px;
}
.dots2 {
  position: absolute;
  right: 0px;
  top: 200px;
}
@media only screen and (max-width: 800px) {
  .hero2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "image"
      "title";
    height: auto;
  }

  .hero-title {
    padding: 10px;
    justify-self: center;
    align-self: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
  }
  .hero-title > p {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
  }
  .hero-image > img {
    height: 200px;
    margin-right: 60px;
  }
  .dots,
  .leaf1 {
    display: none;
  }
  .leaf2 {
  }
}
