.hero2-section {
  position: relative;
  margin-top: 70px;
  background-color: hsl(337, 79%, 54%);
  height: auto;
}
.hero2-section h1 {
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
  padding: 5px;
}
.hero2 {
  display: grid;
  grid-template-areas: "title image";
}
.hero2-title {
  grid-area: title;
  justify-self: center;
  align-self: center;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.hero2-image {
  grid-area: image;
  justify-self: center;
  margin-right: 100px;
}
.hero2-title h1 {
  font-family: "Poppins";
  color: #e9e9e9;
}
.hero2-title p {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 30px;
  color: #e9e9e9;
}
.leftbg {
  position: absolute;
  top: 70px;
  left: 0px;
}
.left1 {
  position: absolute;
  top: 50px;
  left: 195px;
}
.left2 {
  position: absolute;
  top: 290px;
}
.suitcase {
  position: absolute;
  left: 20px;
  top: 406px;
  opacity: 0.5;
}
.middle {
  position: absolute;
  left: 420px;
  top: 402px;
}
.right1 {
  position: absolute;
  right: 0px;
  top: 50px;
}
.right2 {
  position: absolute;
  right: 0px;
  bottom: 20px;
}
.dots2 {
  position: absolute;
  right: 0px;
  top: 200px;
}
.demo-button-free {
  margin: 0 auto;
  width: 135px;
  border-radius: 32px;
  border: 2px solid #e9e9e9;
  background: #ef2e78;
  padding: 6px;
  color: #e9e9e9;
}
@media only screen and (max-width: 800px) {
  .hero2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "image"
      "title";
    height: auto;
  }

  .hero2-title {
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
    padding: 0;
    width: 260px;
  }
  .hero2-section h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  .hero2-title > p {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
  }
  .hero2-image > img {
    height: 250px;
  }
  .dots2,
  .leaf1 {
    display: none;
  }
  .leaf2 {
  }
  .leftbg {
    display: none;
  }
  .middle {
    display: none;
  }
}
