.main-text {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 25px;
  line-height: 38px;
}
.downloadApp {
  display: grid;
  grid-template-areas: "image title";
}
.download {
  grid-area: image;
  margin-left: 230px;
}
.info {
  grid-area: title;
  align-self: center;
  justify-self: center;
  margin-right: 240px;
}
.info h2 {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  color: #ef2e78;
}
.info p {
  font-size: 16px;
  line-height: 28px;
}
.redleaf1 {
  position: relative;
  left: 95%;
  top: 525px;
}
.redleaf2 {
  position: relative;
  top: 40px;
  right: 80px;
}
@media screen and (max-width: 500px) {
  .downloadApp {
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "image"
      "title";
    height: 800px;
  }
  .download {
    width: 100%;
    justify-self: center;
    margin-left: 65px;
  }
  .info {
    justify-self: center;
    align-self: center;
  }
  .download .qr {
    width: 130px;
  }
  .download .appMobile {
    width: 225px;
  }
  .main-text {
    padding: 20px;
  }
  .info {
    margin: 0 auto;
    padding: 20px;
  }
}
