.main-text {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}
.downloadSection {
  padding: 100px 0;
}

.right_section {
  display: flex;
  align-items: center;
}
.info h2 {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  color: #ef2e78;
}
.info p {
  font-size: 16px;
  line-height: 28px;
}

.download {
  display: flex;
  justify-content: center;
}
.qr_app {
  margin: 0 0 0 10%;
  width: auto;
}

@media screen and (max-width: 800px) {
  .grid-2 {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .container {
    width: 100%;
  }
  .hero .right_section img {
    width: 90%;
  }
}
