.main-text {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}
.downloadSection {
  padding: 100px 0;
}


.righ_section {
 display: flex;
 align-items: center;
}
.info h2 {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  color: #ef2e78;
}
.info p {
  font-size: 16px;
  line-height: 28px;
}
.redleaf1 {
  position: relative;
  left: 95%;
  top: 525px;
}
.redleaf2 {
  position: relative;
  top: 40px;
  right: 80px;
}

