a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #4a4a4a;
}
.navbar-toggler {
  background-color: #ef2e78 !important;
}
.header-button {
  background: #ef2e78;
  border-radius: 32px;
  border: none;
  padding: 10px 17px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  width: 160px;
}
.logo {
  margin-left: 60px;
}
@media screen and (max-width: 800px) {
  .header-logo {
    display: flex;
  }
  .logo {
    width: 125px;
    margin-left: 17px;
  }
}
.nav-items > * {
  margin: 0 10px;
}
