a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #4a4a4a;
}
.header-button {
  background: #ef2e78;
  border-radius: 32px;
  border: none;
  padding: 10px 17px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.header-button-mobile {
  display: none;
  position: absolute;
  bottom: 10px;
}

.logo {
  margin-left: 60px;
}
@media screen and (max-width: 800px) {
  .header-button {
    display: none;
  }
  .header-logo {
    display: flex;
  }
  .header-button-mobile {
    display: block;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    padding: 8px 10px;
    background: #ef2e78;
    border-radius: 32px;
    border: none;
    font-family: "Poppins";
    color: #ffffff;
    position: fixed;
    top: 14px;
    bottom: auto;
    left: 196px;
  }

  .logo {
    width: 125px;
    margin-left: 17px;
  }
}
.nav-items > * {
  margin: 0 10px;
}
