.benefit-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #ef2e78;
  margin: 20px;
  border-radius: 10px;
  align-items: center;
  padding: 25px;
  width: 280px;
  height: 330px;
  overflow: hidden;
}
.benefits {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.benefit-section {
  position: relative;
  margin-top: 20px;
}
.benefit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background: url(../../Images/Ellipse\ 1.png);
}
.benefit-content {
  font-size: 13px;
  line-height: 26px;
}
.benefit-title {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.benefit-section h1 {
  text-align: center;
  font-size: 25px;
  line-height: 38px;
}
.benefit-redleaf2 {
  position: absolute;
  top: 0;
  left: 0;
}
.benefit-redleaf1 {
  position: absolute;
  right: 0;
  top: 100%;
}

@media screen and (max-width: 800px) {
  .benefit-redleaf1 {
    display: none;
  }
  .benefit-card {
    margin: 0 auto;
    margin-bottom: 20px;
    height: auto;
  }
  .benefit-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
  }
  .benefit-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: center;
  }
  .benefit-section h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0px;
    margin-bottom: 20px;
  }
}
